@charset "UTF-8";

body {
    background-color: rgb(202, 255, 202);
}

@font-face {
font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

header {
    color:  white;
    text-align: center;
    background-image: linear-gradient(to top, rgb(43, 75, 43), rgb(37, 148, 37), rgb(139, 255, 139));
    margin: -10px;
    padding: 1px;
}

h1 {
    text-shadow: 2px 2px 20px black;
}

h2, h3 {
    font-family: idroid, sans-serif;
    color: rgb(0, 255, 106);
}

h3 {
    background-color: rgba(109, 173, 109, 0.452);
    text-align: left;
    margin-left: 20px;
    padding: 5px;
    width: fit-content;
}

nav {
    text-align: left;
}

nav > a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

nav > a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.363);
}

main {
    background-color: white;
    max-width: 800px;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 25px;
}

section#lista img{
    height: auto;
    width: 20px;
}

article#artigoUm li {
    list-style: none;
}

section#lista {
    background-color: rgb(189, 255, 209);
    min-width: 200px;
    max-width: 700px;
    padding-bottom: 1px;
    margin: auto;
    border-radius: 0px 0px 70px 70px;
}

section#lista > h4 {
    background-color: rgb(66, 185, 106);
    padding: 5px;
    text-align: left;
    
}

article#artigoUm > img {
    width: 100%;
    height: auto;
}

p#ultimo {
    text-align: left;
    text-indent: 40px;
    padding-top: 40px;
}

footer {
    background-color: gray;
}



div.video {
    background-color: rgb(152, 250, 161);
    position: relative;
    margin: 40px 0px 40px 0px;
    padding: 30%;
}

div.video > iframe {
    position: absolute;
    top: 4%;
    left: 8%;
    width: 90%;
    height: 80%;
}

h4, p {
    min-width: 90;
    max-width: 400;
}